<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>

</head>
<body>

	<section>
		<div class="container-fluid p-5 mt-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="success-container text-center">
                        <img class="img-success" alt="Order placed" src="/img/profile_img/shopping-bag.png">
                        <p class="fs-3">Order Successfully Placed.</p>
                        <p class="fs-4">Your product will be delivered within 7 days.</p>
                        <div class="text-center">
                            <a href="/" class="btn btn-primary btn-lg">Home</a>
                            <a href="/user/user-orders" class="btn btn-primary btn-lg">Order</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>