<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">

</head>
<body>

	<!-- Start Navbar -->

	<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i
				class="fa-solid fa-cart-shopping"></i> SCM Store</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<!-- Block for Admin Users -->
					<th:block th:if="${user != null and user.role == 'ROLE_ADMIN'}">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/admin/"> <i
								class="fa-solid fa-house"></i> Home
						</a></li>
					</th:block>

					<!-- Block for Regular Users -->
					<th:block th:if="${user == null or user.role == 'ROLE_USER'}">
					<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/"> <i class="fa-solid fa-house"></i>
								Home
						</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/products">Product</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Category </a>
							<ul class="dropdown-menu">
								<li th:each="category : ${categories}"><a
									class="dropdown-item"
									th:href="@{'/products?category=' + ${category.name}}">
										[[${category.name}]] </a></li>
							</ul></li>
					</th:block>

				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<th:block th:if="${user == null}">

						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/signin"><i
								class="fa-solid fa-right-to-bracket"></i> LOGIN</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/register">REGISTER</a></li>

					</th:block>
					<th:block th:if="${user != null}">
						<th:block th:if="${user.role == 'ROLE_USER'}">
							<th:block th:if="${cardItemsCount} > 0">
								<li class="nav-item"><a class="nav-link active"
									aria-current="page" href="/user/cart"> <i
										class="fa-solid fa-cart-shopping"></i> <span
										class="badge bg-danger"
										style="font-size: 0.57rem; position: absolute; top: 10px; right: 195px;">[[${cardItemsCount}]]</span>
										Cart
								</a></li>
							</th:block>
							<th:block th:unless="${cardItemsCount} > 0">
								<li class="nav-item"><a class="nav-link active"
									aria-current="page" href="/user/cart"> <i
										class="fa-solid fa-cart-shopping"></i> Cart
								</a></li>
							</th:block>
						</th:block>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle active" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> <img
								alt="User Profile"
								th:src="@{'/img/profile_img/'+${user.profileImage}}"
								class="avatar circle text-center"> [[${user.name}]]
						</a>
							<ul class="dropdown-menu">
								<li th:if="${user.role == 'ROLE_USER'}"><a
									class="dropdown-item" href="/user/profile">Edit Profile</a></li>
								<li th:if="${user.role == 'ROLE_ADMIN'}"><a
									class="dropdown-item" href="/admin/profile">Edit Profile</a></li>
								<th:block th:if="${user.role == 'ROLE_USER'}">
									<li><a class="dropdown-item" href="/user/user-orders">My
											Orders</a></li>
								</th:block>
								<li><a class="dropdown-item" href="/logout">Logout</a></li>
							</ul></li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<!-- End Navbar -->

	<!-- The content placeholder, to be replaced by the content from other templates -->
	<div th:replace="${content}"></div>

	<!-- Start Footer Module -->
	<div class="footer p-1 bg-primary text-center text-white mt-4">
		<!-- <div >
			<p>scm.com</p>
		</div> -->
		<div class="container my-5">
			<!-- Footer -->
			<footer class="text-center text-lg-start text-white"
				style="background-color: bg-primary">
				<!-- Grid container -->
				<div class="container p-4 pb-0">
					<!--Grid row-->
					<div class="row">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Company
								name</h6>
							<p>Here you can use rows and columns to organize your footer
								content. Lorem ipsum dolor sit amet, consectetur adipisicing
								elit.</p>
						</div>
						<!-- Grid column -->

						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
							<p>
								<a class="text-white">MDBootstrap</a>
							</p>
							<p>
								<a class="text-white">MDWordPress</a>
							</p>
							<p>
								<a class="text-white">BrandFlow</a>
							</p>
							<p>
								<a class="text-white">Bootstrap Angular</a>
							</p>
						</div>
						<!-- Grid column -->

						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Useful
								links</h6>
							<p>
								<a class="text-white">Your Account</a>
							</p>
							<p>
								<a class="text-white">Become an Affiliate</a>
							</p>
							<p>
								<a class="text-white">Shipping Rates</a>
							</p>
							<p>
								<a class="text-white">Help</a>
							</p>
						</div>

						<!-- Grid column -->
						<hr class="w-100 clearfix d-md-none" />

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
							<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
							<p>
								<i class="fas fa-home mr-3"></i> SCM Narhe, Pune-411041 IND
							</p>
							<p>
								<i class="fas fa-envelope mr-3"></i> scminfo@gmail.com
							</p>
							<p>
								<i class="fas fa-phone mr-3"></i> + 91 8767822741
							</p>
							<p>
								<i class="fas fa-print mr-3"></i> + 91 8637757284
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!--Grid row-->

					<hr class="my-3">

					<!-- Section: Copyright -->
					<div class="row d-flex align-items-center">
						<!-- Grid column -->
						<div class="col-md-7 col-lg-8 text-center text-md-start">
							<!-- Copyright -->
							<div class="p-3">
								© 2020 Copyright: <a class="text-white"
									href="https://mdbootstrap.com/">www.scmonlinestore.com</a>
							</div>
							<!-- Copyright -->
						</div>
						<!-- Grid column -->
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!-- End Footer Module -->
	
	<!-- JQuery Validation Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="../js/script.js"></script>
	<script type="text/javascript" src="../../js/script.js"></script>
	<!-- End JQuery Validation Library -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous">
	</script>

</body>
</html>
